@font-face {
  font-family:'avenir-book';
  src: url('../fonts/Avenir/Avenir/Avenir-Book/Avenir-Book.eot');
  src: url('../fonts/Avenir/Avenir/Avenir-Book/Avenir-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir/Avenir/Avenir-Book/Avenir-Book.woff') format('worff'),
       url('../fonts/Avenir/Avenir/Avenir-Book/Avenir-Book.ttf') format('truetype'),
       url('../fonts/Avenir/Avenir/Avenir-Book/Avenir-Book.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'avenirNext-Regular';
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-Regular/AvenirNext-Regular.eot');
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Regular/AvenirNext-Regular.woff') format('worff'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Regular/AvenirNext-Regular.ttf') format('truetype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Regular/AvenirNext-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'avenirNext-DemiBold';
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-DemiBold/AvenirNext-DemiBold.eot');
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('worff'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf') format('truetype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-DemiBold/AvenirNext-DemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'avenirNext-Bold';
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-Bold/AvenirNext-Bold.eot');
  src: url('../fonts/Avenir/AvenirNext/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Bold/AvenirNext-Bold.woff') format('worff'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Bold/AvenirNext-Bold.ttf') format('truetype'),
       url('../fonts/Avenir/AvenirNext/AvenirNext-Bold/AvenirNext-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family:'avenir-Black';
    src: url('../fonts/Avenir/AvenirNext/Avenir-Black/Avenir-Black.eot');
    src: url('../fonts/Avenir/AvenirNext/Avenir-Black/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNext/Avenir-Black/Avenir-Black.woff') format('worff'),
        url('../fonts/Avenir/AvenirNext/Avenir-Black/Avenir-Black.ttf') format('truetype'),
        url('../fonts/Avenir/AvenirNext/Avenir-Black/Avenir-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'avenir-light';
    src: url('../fonts/Avenir/Avenir/Avenir-Light/Avenir-Light.eot');
    src: url('../fonts/Avenir/Avenir/Avenir-Light/Avenir-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir/Avenir-Light/Avenir-Light.woff') format('worff'),
        url('../fonts/Avenir/Avenir/Avenir-Light/Avenir-Light.ttf') format('truetype'),
        url('../fonts/Avenir/Avenir/Avenir-Light/Avenir-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'avenirNext-UltraLight';
    src: url('../fonts/Avenir/AvenirNext/AvenirNext-UltraLight/AvenirNext-UltraLight.eot');
    src: url('../fonts/Avenir/AvenirNext/AvenirNext-UltraLight/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/AvenirNext/AvenirNext-UltraLight/AvenirNext-UltraLight.woff') format('worff'),
        url('../fonts/Avenir/AvenirNext/AvenirNext-UltraLight/AvenirNext-UltraLight.ttf') format('truetype'),
        url('../fonts/Avenir/AvenirNext/AvenirNext-UltraLight/AvenirNext-UltraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}